.sconsign
obj
Makefile
Makefile.Debug
Makefile.Release
debug
object_script.libquackle.Debug
object_script.libquackle.Release
release
ChangeLog
*.app
*.sublime-project
*.sublime-workspace
*.DS_Store
Info.plist
qt_makeqmake.mak
qt_preprocess.mak
quackle.pro.user
quacker.xcodeproj